---
http_interactions:
- request:
    method: get
    uri: http://query.yahooapis.com/v1/public/yql?callback=&diagnostic=true&env=store://datatables.org/alltableswithkeys&format=json&q=SELECT%20*%20FROM%20yahoo.finance.historicaldata%20WHERE%20symbol%20=%22YHOO%22%20AND%20startDate%20=%222017-03-08%22%20AND%20endDate%20=%222017-03-09%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yql-Host:
      - prod_gq1_1;paas.yql;queryyahooapiscomproductiongq1;1792064c-fc8e-11e6-b238-f0921c192010
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"count":1,"created":"2017-03-09T15:56:27Z","lang":"en-US","results":{"quote":{"Symbol":"YHOO","Date":"2017-03-08","Open":"45.849998","High":"46.189999","Low":"45.73","Close":"45.98","Volume":"3311700","Adj_Close":"45.98"}}}}'
  recorded_at: Thu, 09 Mar 2017 15:56:26 GMT
recorded_with: VCR 3.0.3
